body {
  background-color: #34d399;
}

.font-display {
  font-family: "Inter", sans-serif;
}

.grid-cols-autofit-md {
  grid-template-columns: repeat(auto-fit, 28rem);
}

.min-h-600 {
  min-height: 600px;
}
